:root {
  --dashi-text-main: #3C3C3C;
  --dashi-text-strong: #000;
  --dashi-text-muted: #999;

  --dashi-stroke: #D4D4D4;

  --dashi-link: #1F62A9;
  --dashi-link-visited: color-mix(in oklch, var(--dashi-link) 80%, #2B2B2B);
  --dashi-link-hover: color-mix(in oklch, var(--dashi-link) 80%, #FFFFFF);
  --dashi-link-active: color-mix(in oklch, var(--dashi-link) 80%, #1E57FF);
  
  --dashi-bg-main: #F1F1F1;
  --dashi-bg-highlight: #fcfcfc;
  --dashi-bg-optional: #F1F1F1;

  --dashi-ls: 0.05em;

  --dashi-fz-mb: 1.55rem;
  --dasshi-lh-mb: 1.55;

  --dashi-lh-tight: 1.25;

  --dashi-fz: var(--dashi-fz-mb, 1.55);
  --dashi-lh: var(--dashi-lh-mb, 1.55);
  --dashi-lh-heading: var(--dashi-lh-tight);

  --dashi-fz-pc: 1.65rem;
  --dashi-lh-pc: 1.65;

  @media (min-width: 720px) {
    --dashi-fz: var(--dashi-fz-pc);
    --dashi-lh: var(--dashi-lh-pc);
    /* --dashi-lh-heading: var(--dashi-lh-heading-pc); */
  }



  --dashi-max-text-length: 40; /* 1行の最大文字数。単位：icを想定 */
  --dashi-content-mb: 1.15; /* 単位：emを想定 */

  --dashi-text-indent: 0; /* 段落最初のインデント。単位：emを想定 */

  --dashi-space-main: 30; /* メインコンテンツの上下の余白。単位：pxを想定 */
  --dashi-space-small: calc(var(--dashi-space-main) / 3 /2); /* 見出しの上下の余白。単位：pxを想定 */
  --dashi-radius: 5;
  --dashi-radius-small: 3;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-feature-settings: "palt";
  text-align: justify;
}
body {
  --fz: var(--dashi-fz);
  --lh: var(--dashi-lh);
  --fc: var(--dashi-text-main);
  --bg: var(--dashi-bg-main);
  --ls: var(--dashi-ls);
  letter-spacing: var(--ls);
  font-size: var(--fz);
  line-height: var(--lh);
  color: var(--fc);
  background-color: var(--bg);

  /* Noto Sans JP Settings */
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  
  & * {
    margin-block: calc((1em - 1lh) / 2); /* ハーフレディング */
  }
}

a {
  color: var(--dashi-link);
  text-decoration: none;
  transition: color 0.3s ease;
  &:visited {
    color: var(--dashi-link-visited);
  }
  &:hover {
    color: var(--dashi-link-hover);
    text-decoration: underline;
  }
  &:active {
    color: var(--dashi-link-active);
  }
}

a.button, button, nav a {
  &:hover {
    text-decoration: none;
  }
}




strong {
  color: var(--dashi-text-strong);
  font-weight: 650;
}

hr {
  border: 1px solid var(--dashi-stroke);
  margin-top: calc(var(--dashi-content-mb) * 1.75 * 1em);
  margin-bottom: calc(var(--dashi-content-mb) * 1.75 * 1em);
  border-bottom: none;
}

p {
  --indent: var(--dashi-text-indent);
  text-indent: calc(var(--indent) * 1em);
}

nav li > a {
  display: block;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, table, figure, details, summary, hgroup {
  line-height: 1;
}

